#output {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

html{
  width: 100%vw;
  height: 100%vh;
  background: linear-gradient(180deg, #372a52, #231e3d,#53324c,#755356);
}
  
.index{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-size: 4em;
  color: white;
}

.index p{
  font-size: 2.5em;
  color: white;
}

.text{
  display: inline-flex;
  flex-direction: column;
}

#output{
  font-size: 4em;
  color: white;
}